<div class="ui container">
    <div class="ui segment date-segment">
        <div class="ui header centered date-div">
            <h4>Matches</h4>
            <h5 class="date-header"></h5>
            <div class="ui calendar" id="example2">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input readonly type="text" placeholder="" id="date-picker">
                </div>
            </div>
        </div>
    </div>

    <div class="ui cards centered" id="matches-div">
    </div>
</div>




<div class="ui modal">
    <div class="header">Header</div>
    <div class="scrolling content">
        <table class="ui very compact table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Another Status</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



{{!-- <div class="ui container">

    <div class="ui cards centered">

        {{#each games}}
        <div class="card" data-matchId="">
            <div class="blurring dimmable content">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">Game Details</div>
                        </div>
                    </div>
                </div>
                <div class="content info">
                    <div class="ui header centered">
                        <span class="left floated home-team">{{schedule.homeTeam.abbreviation}}</span><span
                            class="live">VS</span><span
                            class="right floated away-team">{{schedule.awayTeam.abbreviation}}</span>
                    </div>
                    <div class="meta">
                        <span class="left aligned home">Home</span>
                        <span class="right floated away">Away</span>
                    </div>
                    <img class="left floated tiny ui image home-img" src="/img/{{schedule.homeTeam.abbreviation}}.svg">
                    <img class="right floated tiny ui image away-img" src="/img/{{schedule.awayTeam.abbreviation}}.svg">

                    <div class="meta center aligned time">
                        <span></span>

                    </div>
                    <div class="description">
                        <span class="left aligned home-score">{{score.homeScoreTotal}}</span>
                        <span class="right floated away-score">{{score.awayScoreTotal}}</span>
                    </div>
                </div>
            </div>
            <div class="extra content bet-money">
                <div class="ui description">
                    <p class="total-money">Total: $900</p>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button bet home-bet" data-teamId="{{schedule.homeTeam.id}}">Bet <span
                            class="bet-btn-team">Home</span>
                    </div>
                    <div class="ui basic red button bet away-bet" data-teamId="{{schedule.awayTeam.id}}">Bet
                        <span>Away</span></div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

</div> --}}